@model StudentsAddViewModel

    <div class="row">
        <div class="col col-lg-5 mx-auto border border-1">
            <h5>Add new student</h5>
            <form asp-controller="Students" asp-action="Add" method="post">
                <partial name="_StudentFormPartial" model="@Model"></partial>
                <button type="submit" class="btn btn-primary mt-2 mb-2">Add</button>
                <a asp-controller="Students" asp-action="Index" class="btn btn-warning mt-2 mb-2">Cancel</a>
            </form>
        </div>
    </div>