@model StudentsEditViewModel
<div class="row">
    <div class="col col-lg-5 mx-auto border border-1">
        <h5>Edit student</h5>
        <form asp-controller="Students" asp-action="Edit" method="post">
            <partial name="_StudentFormPartial" model="@Model"></partial>
            <input asp-for="Id" />
            <button type="submit" class="btn btn-primary mt-2 mb-2">Edit</button>
            <a asp-controller="Students" asp-action="Index" class="btn btn-warning mt-2 mb-2">Cancel</a>
        </form>
    </div>
</div>

